# This file contains common pin mappings for the 2018 Creality
# Ender 3. To use this config, the firmware should be compiled for the
# AVR atmega1284p.

# Note, a number of Melzi boards are shipped with a bootloader that
# requires the following command to flash the board:
#  avrdude -p atmega1284p -c arduino -b 57600 -P /dev/ttyUSB0 -U out/klipper.elf.hex
# If the above command does not work and "make flash" does not work
# then one may need to flash a bootloader to the board - see the
# Klipper docs/Bootloaders.md file for more information.

# See the example.cfg file for a description of available parameters.

[tmc2130 stepper_x]
cs_pin: ar59
microsteps: 16
interpolate: False
run_current: 0.7
hold_current: 0.5
driver_IHOLDDELAY: 8 
driver_TPOWERDOWN: 30 
driver_TBL: 1 
driver_PWM_GRAD: 10
driver_HEND: 3
driver_HSTRT: 6
driver_TOFF: 2
driver_PWM_FREQ: 2
stealthchop_threshold: 50000
diag1_pin: ^!ar3

[tmc2130 stepper_y]
cs_pin: ar63
microsteps: 16
interpolate: False
run_current: 0.7
hold_current: 0.5
driver_IHOLDDELAY: 8 
driver_TPOWERDOWN: 30 
driver_TBL: 1 
driver_PWM_GRAD: 10
driver_HEND: 3
driver_HSTRT: 6
driver_TOFF: 2
driver_PWM_FREQ: 2
stealthchop_threshold: 50000
diag1_pin: ^!ar14

[tmc2130 stepper_z]
cs_pin: ar40
microsteps: 16
interpolate: False
run_current: 0.700
hold_current: 0.5
driver_IHOLDDELAY: 8 
driver_TPOWERDOWN: 30 
driver_TBL: 2 
driver_PWM_GRAD: 10
driver_HEND: 3
driver_HSTRT: 6
driver_TOFF: 3
driver_PWM_FREQ: 2
stealthchop_threshold: 50000

[tmc2130 extruder]
cs_pin: ar42
microsteps: 16
interpolate: False
run_current: 1
hold_current: 1
driver_IHOLDDELAY: 8 
driver_TPOWERDOWN: 30 
driver_TBL: 1 
driver_PWM_GRAD: 15
driver_HEND: 3
driver_HSTRT: 6
driver_TOFF: 2
driver_PWM_FREQ: 2
stealthchop_threshold: 50000

[stepper_x]
step_pin: ar60
dir_pin: !ar61
enable_pin: !ar56
step_distance: .0125
# endstop_pin: tmc2130_stepper_x:virtual_endstop
endstop_pin: ^ar3
position_endstop: -1.5
position_min: -1.5
position_max: 270
homing_speed: 100
second_homing_speed: 5

[stepper_y]
step_pin: ar46
dir_pin: !ar48
enable_pin: !ar62
step_distance: .0125
# endstop_pin: tmc2130_stepper_y:virtual_endstop
endstop_pin: ^ar14
position_endstop: -13
position_min: -13
position_max: 219
homing_speed: 50
second_homing_speed: 5

[stepper_z]
step_pin: ar26
dir_pin: ar28
enable_pin: !ar24
step_distance: .00250
endstop_pin: probe:z_virtual_endstop
position_min: 0
position_max: 180

[extruder]
max_extrude_only_distance: 500.0
step_pin: ar36
dir_pin: !ar34
enable_pin: !ar30
step_distance: 0.00723502902
# Measure 120mm, then extrude 100mm
# G1 E100 F200
# step_distance = old_e_steps * ((120 - distance_to_mark) / 100)
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: ar10
sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog13
min_temp: 0
max_temp: 280
pressure_advance: 0.0625
# pressure_advance_smooth_time: 0.040
#control = pid
#pid_kp = 20
#pid_ki = 1
#pid_kd = 60


[heater_bed]
heater_pin: ar8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog14
min_temp: 0
max_temp: 130


# [heater_fan hotend_fan]
# pin: ar15
# heater: extruder


[fan]
pin: ar9
# hardware_pwm: True
# cycle_time: 0.007

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB2.0-Serial-if00-port0
pin_map: arduino

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_accel_to_decel: 1500
max_z_velocity: 20
max_z_accel: 100
square_corner_velocity: 5

[input_shaper]
shaper_freq_x: 48
shaper_freq_y: 48
shaper_type: mzv

[display]
lcd_type: st7920
cs_pin: ar27
sclk_pin: ar25
sid_pin: ar29
encoder_pins: ^ar23, ^ar17
click_pin: ^!ar35

[bed_screws]
screw1: 32.5,32.5
screw2: 202.5,32.5
screw3: 32.5,202.5
screw4: 202.5,202.5

[bltouch]
sensor_pin: ^ar18
control_pin: ar4
z_offset = 2.76
x_offset: -57
y_offset: -21
probe_with_touch_mode: True
# pin_up_touch_mode_reports_triggered: True
stow_on_each_sample: False
samples: 1
speed: 5
#   The number of times to probe each point.  The probed z-values
#   will be averaged.  The default is to probe 1 time.
# samples_result: median
#   One can choose median or average between probes samples
#   The default is average.
sample_retract_dist: 5
#   The distance (in mm) to retract between each sample if
#   sampling more than once.  Default is 2mm.

#   Set if the BLTouch consistently reports the probe in a "not
#   triggered" state after a successful "pin_up" command. This should
#   be True for a genuine BLTouch; some BLTouch clones may require
#   False.  The default is True.
# pin_up_touch_mode_reports_triggered: False
#   Set if the BLTouch consistently reports a "triggered" state after
#   the commands "pin_up" followed by "touch_mode". This should be
#   True for a genuine BLTouch; some BLTouch clones may require
#   False. The default is True.

[safe_z_home]
home_xy_position: 174.5, 138.5 # Change coordinates to the center of your print bed
speed: 100
z_hop: 10                 # Move up 10mm
z_hop_speed: 5

# [homing_override]
# set_position_z: 0.0
# gcode:
#    G90 ; Use absolute position mode
#    G1 Z10 ; Move up 10mm
#    G28 X Y
#    G1 X155.5 Y120.5 F6000 ; XY center of bed for probe
#    G28 Z

[gcode_macro HOME_MESH]
gcode:
   G28o
   BED_MESH_CALIBRATE
   BED_MESH_PROFILE SAVE=ender3
   
[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
default_parameter_X: 230    # edit to your preferred park position
default_parameter_Y: 230    # edit to your preferred park position
default_parameter_Z: 10     # edit to your preferred park position
default_parameter_E: 1      # edit to your preferred retract length
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{E} F2100
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F6000
    
[gcode_macro RESUME]
rename_existing: BASE_RESUME
default_parameter_E: 1      # edit to your preferred retract length
gcode:
    G91
    G1 E{E} F2100
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME
    
[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    G91
    G1 Z30 F3000
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT


[gcode_macro MARK_BED]
gcode:
    BED_MESH_CLEAR
    G1 F5000 X65 Y0.00
    G1 F5000 X270 Y0.00
    G1 F5000 X270 Y10.00
    G1 F5000 X65 Y10.00
    G1 F5000 X65 Y20.00
    G1 F5000 X270 Y20.00
    G1 F5000 X270 Y30.00
    G1 F5000 X65 Y30.00
    G1 F5000 X65 Y40.00
    G1 F5000 X270 Y40.00
    G1 F5000 X270 Y50.00
    G1 F5000 X65 Y50.00
    G1 F5000 X65 Y60.00
    G1 F5000 X270 Y60.00
    G1 F5000 X270 Y70.00
    G1 F5000 X65 Y70.00
    G1 F5000 X65 Y80.00
    G1 F5000 X270 Y80.00
    G1 F5000 X270 Y90.00
    G1 F5000 X65 Y90.00
    G1 F5000 X65 Y100.00
    G1 F5000 X270 Y100.00
    G1 F5000 X270 Y110.00
    G1 F5000 X65 Y110.00
    G1 F5000 X65 Y120.00
    G1 F5000 X270 Y120.00
    G1 F5000 X270 Y130.00
    G1 F5000 X65 Y130.00
    G1 F5000 X65 Y140.00
    G1 F5000 X270 Y140.00
    G1 F5000 X270 Y150.00
    G1 F5000 X65 Y150.00
    G1 F5000 X65 Y160.00
    G1 F5000 X270 Y160.00
    G1 F5000 X270 Y170.00
    G1 F5000 X65 Y170.00
    G1 F5000 X65 Y180.00
    G1 F5000 X270 Y180.00
    G1 F5000 X270 Y190.00
    G1 F5000 X65 Y190.00
    G1 F5000 X65 Y200.00
    G1 F5000 X270 Y200.00
    G1 F5000 X270 Y210.00
    G1 F5000 X65 Y210.00


[bed_mesh]
speed: 50
#   The speed (in mm/s) of non-probing moves during the
#   calibration. The default is 50.
horizontal_move_z: 6
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
mesh_min: 45,45
#   Defines the minimum x,y position to probe when for rectangular
#   beds. Note that this refers to the nozzle position, take care that
#   you do not define a point that will move the probe off of the bed.
#   This parameter must be provided for rectangular beds.
mesh_max: 190,190
#   Defines the maximum x,y position to probe when for rectangular
#   beds. Follow the same precautions as listed in min_point. Also note
#   that this does not necessarily define the last point probed, only
#   the maximum coordinate. This parameter must be provided.
probe_count: 5,5
#   For rectangular beds, this is a comma separate pair of integer
#   values (X,Y) defining the number of points to probe along each axis.
#   A single value is also valid, in which case that value will be applied
#   to both axes.  Default is 3,3.
#round_probe_count: 5
#   For round beds, this is integer value defines the maximum number of
#   points to probe along each axis. This value must be an odd number.
#   Default is 5.
#fade_start: 1.0
#   The gcode z position in which to start phasing out z-adjustment
#   when fade is enabled.  Default is 1.0.
#fade_end: 0.0
#   The gcode z position in which phasing out completes.  When set
#   to a value below fade_start, fade is disabled. It should be
#   noted that fade may add unwanted scaling along the z-axis of a
#   print.  If a user wishes to enable fade, a value of 10.0 is
#   recommended. Default is 0.0, which disables fade.
#fade_target:
#   The z position in which fade should converge. When this value is set
#   to a non-zero value it must be within the range of z-values in the mesh.
#   Users that wish to converge to the z homing position should set this to 0.
#   Default is the average z value of the mesh.
#split_delta_z: .025
#   The amount of Z difference (in mm) along a move that will
#   trigger a split. Default is .025.
#move_check_distance: 5.0
#   The distance (in mm) along a move to check for split_delta_z.
#   This is also the minimum length that a move can be split. Default
#   is 5.0.
mesh_pps: 2,2
#   A comma separated pair of integers (X,Y) defining the number of
#   points per segment to interpolate in the mesh along each axis. A
#   "segment" can be defined as the space between each probed
#   point. The user may enter a single value which will be applied
#   to both axes.  Default is 2,2.
algorithm: bicubic
#   The interpolation algorithm to use. May be either "lagrange"
#   or "bicubic". This option will not affect 3x3 grids, which
#   are forced to use lagrange sampling.  Default is lagrange.
bicubic_tension: 0.2
#   When using the bicubic algorithm the tension parameter above
#   may be applied to change the amount of slope interpolated.
#   Larger numbers will increase the amount of slope, which
#   results in more curvature in the mesh. Default is .2.
#relative_reference_index: 
#   A point index in the mesh to reference all z values to. Enabling
#   this parameter produces a mesh relative to the probed z position
#   at the provided index.

[screws_tilt_adjust]
screw1: 89.5, 53.5
screw2: 259.5, 53.5
screw3: 259.5, 219 # 223.5 actual
screw4: 89.5, 219 # 223.5 actual
screw1_name: front left screw
screw2_name: front right screw
screw3_name: rear right screw
screw4_name: rear left screw
horizontal_move_z: 10.
speed: 50.
screw_thread: CW-M3

# ================================================================================
# Fluidd Specific Profile Entries
# ================================================================================
[virtual_sdcard]
path: ~/gcode_files
# ================================================================================
[display_status]
# ================================================================================
[pause_resume]
# ===============================================================================

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.887
#*# pid_ki = 1.526
#*# pid_kd = 85.827
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 73.517
#*# pid_ki = 1.892
#*# pid_kd = 350
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.020000, 0.070000, 0.060000, 0.050000, 0.027500, 0.060000, 0.035000, 0.002500, 0.055000
#*# 	  0.037500, 0.060000, 0.087500, 0.072500, 0.047500, 0.097500, 0.070000, 0.035000, 0.095000
#*# 	  0.030000, 0.042500, 0.070000, 0.052500, 0.032500, 0.080000, 0.062500, 0.025000, 0.072500
#*# 	  0.010000, 0.035000, 0.057500, 0.047500, 0.030000, 0.080000, 0.050000, 0.015000, 0.070000
#*# 	  0.017500, 0.032500, 0.045000, 0.045000, 0.012500, 0.052500, 0.045000, 0.002500, 0.045000
#*# 	  0.032500, 0.050000, 0.087500, 0.072500, 0.035000, 0.092500, 0.072500, 0.020000, 0.072500
#*# 	  0.050000, 0.052500, 0.087500, 0.082500, 0.050000, 0.097500, 0.060000, 0.015000, 0.080000
#*# 	  0.062500, 0.090000, 0.105000, 0.102500, 0.072500, 0.110000, 0.065000, 0.012500, 0.062500
#*# 	  0.095000, 0.110000, 0.110000, 0.100000, 0.060000, 0.110000, 0.052500, 0.007500, 0.067500
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.02
#*# min_x = 45.0
#*# max_x = 189.96
#*# min_y = 45.0
#*# max_y = 189.96
